################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClockDB/FileContentIndex/fbf91d4e-e7b0-4b1c-a113-874943fb066a.vsidx
/.vs/ClockDB/FileContentIndex/339716fe-22bd-4502-9109-460b6d8e4189.vsidx
/.vs/ClockDB/FileContentIndex/5c9736ca-b871-467c-91cf-a1b3be22fb38.vsidx
