################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClockDB/FileContentIndex/fbf91d4e-e7b0-4b1c-a113-874943fb066a.vsidx
/.vs/ClockDB/FileContentIndex/339716fe-22bd-4502-9109-460b6d8e4189.vsidx
/.vs/ClockDB/FileContentIndex/5c9736ca-b871-467c-91cf-a1b3be22fb38.vsidx
/.vs/ClockDB/FileContentIndex/a2b20525-98b8-4cce-be8c-347547b409d0.vsidx
/.vs/ClockDB/FileContentIndex/826ae615-935a-4b94-9d29-2861da5c4ba2.vsidx
/.vs/ClockDB/FileContentIndex/4c1c85c5-acca-4391-8323-59725f375026.vsidx
/.vs/ClockDB/FileContentIndex/77e8bbef-a11b-4575-a629-2ffbb7e0e749.vsidx
/.vs/ClockDB/FileContentIndex/81ff9594-ce53-4bc1-b3f3-791c228b9956.vsidx
/.vs/ClockDB/FileContentIndex/ff7529dc-b81a-4429-8f51-c884f25ce06e.vsidx
